.field__form__container {
    padding: 20px 0;
}

.mainContent__title_headerBar {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.mainContent__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.87);
    margin-bottom: 0
}

.mainContent__title__main {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.87);
}

.mainContent__subtitle {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 0.95em;
    color: rgba(51, 51, 51, 0.87);
}

.mainContent__title__dialog {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.87);
    margin-bottom: 0
}
