.data__topMargin {
    margin-top: 20px;
}

body {
    background-color: var(--colors-grey050);
}

.container {
    display: grid;
    height: 100%;
    grid-gap: 0 var(--spacers-dp24);
    grid-template-columns: [sidebar] 280px [content] minmax(0, 1fr);
    color: var(--colors-grey900);
}

.sidebar {
    grid-column: sidebar;
    background-color: var(--colors-grey200);
    overflow: auto;
    min-height: calc(100vh - var(--spacers-dp48));
}

.content {
    grid-column: content;
    background-color: inherit;
    padding-top: var(--spacers-dp12);
    padding-right: var(--spacers-dp24);
    padding-bottom: var(--spacers-dp16);
    max-width: 1200px;
}
