.paper__twoPanel__sideBar {
    position: absolute;
}

.paper__twoPanel__mainTitle {
    font-weight: 300;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    padding: 16px 0px 5px;
}

.paper__layout {
    padding: 2rem 2.5rem;
    min-height: 300px;
    margin-top: 40px;
    max-width: 1200px;
}

.data__topMargin {
    margin-top: 20px;
}