.data-table {
    margin-bottom: 2rem;
}

.data-table__headers__header {
    vertical-align: middle;
    border-bottom: 2px solid #E0E0E0 !important;
    color: #757575;
    display: table-cell;
    font-weight: 400;
    text-align: left;
    transition: all .3s ease;
}

.data-table__rows__row__column {
    vertical-align: middle;
    border-bottom: 1px solid #E0E0E0 !important;
    border-top: 0;
    display: table-cell;
    text-align: left;
    transition: all .3s ease;
    position: relative;
}

.main-content__title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.87);
    margin-bottom: 0
}

.main-content__title__main {
    font-size: 16px;
    margin-bottom: initial;
}

.main-content__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main-content__button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 1rem 1rem;
}

.main-content__button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
}

.main-content__button__save {
    margin: 0px;
    width: 100%;
    background-color: rgb(33, 150, 243);
    color: #ffffff;
}

.main-content__button__cancel {
    margin: 0px 0px 0px 1rem;
    min-width: 88px;
    color: rgb(255, 152, 0);
    user-select: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.main-content__dialog__button {
    margin-right: 10px;
}