.main-content__dialog__button {
    font-family: Roboto, sans-serif;
    margin-right: 10px;
}

.d2-ui-table__headers__header {
    font-size: 12px;
}

.d2-ui-table__rows__row__column span {
    font-size: 13px;
}