
.parent {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 20%);
}

.parent > div{
    align-self: center;
}

.parent > div:first-child{
    align-self: center;
    font-weight: normal;
    font-size: 0.9rem;
    color: var(--colors-grey900);
    padding: 10px 20px;
}

.parent > div:last-child {
    justify-self: end;
    padding-right: 25px;
}

.parent > .title {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dense > div:first-child {
    padding: initial;
}

.quickHeader{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap:5px;
    font-size: 12px;
    color: var(--colors-grey700);
}

.quickHeaderTooltip{
    width: 100%;
    min-width: 510px;
    height: 100%;
    min-height: 510px;
}
