.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp32);
}

.sectionTitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin: var(--spacers-dp16) 0;
}

.titleContainer {
    margin: var(--spacers-dp24) 0 var(--spacers-dp32) 0;
}

.mainTitle {
    font-size: 30px;
    color: var(--colors-grey800);
    font-weight: 500;
    display: inline;
}

.tagVersion {
    margin: 0 10px;
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
