.contentWrapper {
    margin-top: var(--spacers-dp16);
    padding-right: var(--spacers-dp8);
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.intentFormGrid {
    display: grid;
    column-gap: 1rem;
}

.intentFieldGroup {
    margin-top: 20px;
    margin-bottom: 20px;
}

.argumentRow {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.argumentColumn {
    flex: 1;
}

.addButtonWrapper {
    margin-top: 1rem;
}

.responseForm {
    display: grid;
    gap: 8px;
}

.actionButtonsWrapper{
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.row + .row {
    margin-top: 20px;
}

.modalContentCustom{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
