.row {
    display: flex;
    width: 300px;
}

.row + .row {
    margin-top: 20px;
}

.rowMargin {
    margin-top: 20px;
}

.rowTMargin32 {
    margin-top: var(--spacers-dp32);
}

.rowBMargin24 {
    margin-bottom: var(--spacers-dp24);
}
