.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

[dir] body {
  background-color: #f4f6f8;
}

body {
  background-color: #f3f3f3;
}

.app-wrapper * {
  font-family: Roboto;
}